---
layout: post
title: Skyline Test Run
---

## We have data!!!

Kind of. After meeting with Emma, we realized that for the purpose of the poster, we could use any oyster .blib file we had on hand. We used [an oyster seed .blib](https://github.com/sr320/course-fish546-2016/blob/master/data/oysterseed2.blib) for our Skyline analyses. A .blib file is a list of peptide spectra found in designated samples. Using a different .blib would change the reference spectra we would match the peptides in our samples with. While this method isn't ideal for a paper, it's good enough for a preliminary poster.

To use Skyline, we followed [these tutorial slides](https://github.com/RobertsLab/project-pacific.oyster-larvae/blob/master/Skyline-example-files-ETS.sky/slides01.pdf), steps 2 through 6. My Jupyter Notebook can be found [here](https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/2017-03-14-Skyline-Test-Run.ipynb).

In the end, we exported the data as a .csv and modified it. The files I'll use going forward are below:

[Maximum Area Spectra](https://raw.githubusercontent.com/RobertsLab/project-oyster-oa/master/analyses/DNR_Skyline_20170314/Oyster-MaxArea-Proteinbased.csv)
[Average Area Spectra](https://raw.githubusercontent.com/RobertsLab/project-oyster-oa/master/analyses/DNR_Skyline_20170314/Oyster-AverageArea-Proteinbased.csv)
